/*This one needs to be replicated*/


#mainNav{
	background-color:#1B676B!important;
}
body{
	background: #EAFDE6!important;
}

.form-shop{
width: 5%;
}

.row{
margin-left:-50%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item--width2 {
width: 400px; 
float:left;
}


.grid-item {
  width: 200px;
  height: 200px;
  float: left;
  background: #EAFDE6;
  border: 5px solid #EAFDE6;
  border-radius: 5px;
}

.blocktitle{
	position: relative;
}

.title{
	margin: 0;
	position:absolute;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, 30%)
}

.desc-image img {
   height: 100%;
   width: 100%;
}

.panel-leftside{

	width: 20%;
	float:left;
	margin-right: 10px; 
	
}

.logo-text{
	font-family: 'Rubik', sans-serif;
	font-size: 70px;
	font-color: #000;
	font-weight: bold;
}

.logo-subtext{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	font-color: #000;
	font-weight: bold;
}

.content-text{
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-color: #000;
	text-align: justify;
}

.navbaruser{
	width:250px;
	left: 0px;
	min-height: 60px;
}

.usercontent{
	float:left;
	margin-top: 100px;
}

.inner{
	margin: 0 auto;
}

.outer{
	width: 100%;
}

.gallery{
	margin-top: 100px;
}

.turquoisefont{
	color: #1B676B;
}

.turquoiseback{
	background: #1B676B;
}

.greenfont{
	color: #519548;
}

.greenback{
	background: #519548;
}

.limefont{
	color: #88C425;
}

.limeback{
	background: #88C425;
}

.grellowfont{
	color: #BEF202;
}

.grellowback{
	background: #BEF202;
}

.basefont{
	color: #EAFDE6;
}

.baseback{
	background: #EAFDE6;
}

.btn-success{
	background-color: #88C425!important;
	border-color: #88C425!important;
}

.btn-info{
	background-color: #519548!important;
	border-color: #519548!important;
}

.grayfont{
	color: #404040;
}
