body {
  padding-top: 70px;  /* Move body of page below navbar. */
}

.form-shop{
width: 5%;
}

.grid{

}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item--width2 {
width: 400px; 
float:left;
}


.grid-item {
  width: 200px;
  height: 200px;
  float: left;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.blocktitle{
	position: relative;
}

.title{
	margin: 0;
	position:absolute;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, 30%)
}

.desc-image img {
   height: 100%;
   width: 100%;
}

.panel-leftside{

	width: 20%;
	float:left;
	margin-right: 10px; 
	
}

.logo-text{
	font-family: 'Rubik', sans-serif;
	font-size: 70px;
	font-color: #000;
	font-weight: bold;
}

.logo-subtext{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	font-color: #000;
	font-weight: bold;
}

.content-text{
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-color: #000;
	text-align: justify;
}

