body {
  padding-top: 70px;  /* Move body of page below navbar. */
}

.form-shop{
width: 5%;
}

.grid-item {
width: 200px; 
}

.grid-item--width2 {
width: 100px; 
}


.desc-image{
width: 100px;
}

.desc-image img {
   height: 100%;
   width: 100%;
}