@(page: String, isLoggedIn: Boolean, userInfo: User, categoryInfo: Category, products: List[Product], count: Integer)

@Main(page, isLoggedIn, userInfo) {
<br>
<br>
<br>
<br>
<br>
<div class="container-content-category outer">
    
     <div class="row inner">
     	<h5><p class="turquoisefont">Categoría: @categoryInfo.getName()</p>
     	<p>(Esta categoría ha sido vista: @count veces)</p></h5>
     	<br>
     </div>
     <a href='@routes.LoginController.index(1.toString())' class="btn btn-info" role="button" aria-pressed="true">Regresar a la página inicial</a>
	<br>
	<br>
     <div class="grid centered">
     <h5>
     @for(p <- products) {
     	@defining(p.getId().toString()) {productId => 
  		<div class="grid-item grid-item--width2">
  		<a href='@routes.ProductController.getProduct(productId)'><div class="desc-image">
  		<img border="0" src="@p.getUrl()"/>
  		 </div>
  		  <div class='blocktitle'>
  		  <div class="title">@p.getName()}</div></div></a></div>	
	 }
	 </h5>
     </div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
    
   }

</div>
</div>