@(page: String, isLoggedIn: Boolean, userInfo: User, category: Category, categoryForm: Form[views.formdata.CategoryFormData])

@import bootstrap3._

@Main(page, isLoggedIn, userInfo) {
<br>
<br>
<br>
<br>
<br>
<div class="container-content">
@if(isLoggedIn) {     
     
     <h3>Editar categoría</h3>
     
     <div class="container">
     	@categoryform(routes.CategoryListController.updateCategory(category.getId.toString()), categoryForm("name"), categoryForm("url"), category.getId)
   	</div>
     
     <br>     
}else{
	<div class="row">
		<p>Tu sesión ha terminado por inactividad, <a href="@routes.LoginController.login()">Haz click aquí para iniciar sesión.</a></p>
	</div>
   }
}
</div>


