@(page: String, isLoggedIn: Boolean, userInfo: User, categories: List[Category], countUsers: Integer)

@Main(page, isLoggedIn, userInfo) {
<br>
<br>
<br>
<br>
<br>
<div class="container">
	@if(isLoggedIn) {
     <h5><p> Bienvenido a JurelApp, te ofrecemos los siguientes productos </p>
    
     <div class="list-group">
     <h5>
     @for(c <- categories) {
     	@defining(c.getId().toString()) {categoryId => 
  		<a href='@routes.CategoryController.getProductsByCategory(categoryId)' class="list-group-item list-group-item-action">@c.getName()}</a>
	 }
	 </h5>
	 </div>
   } else {
   	<div class="row">
   		Your session has timed out. <a href="@routes.LoginController.login()" class="btn btn-primary" role="button">Click here</a> to return to log in.
	</div>
   }
}
</div>