@(page: String, isLoggedIn: Boolean, userInfo: User, categoryList: List[Category], productList: List[Product])

@Main(page, isLoggedIn, userInfo) {
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<div class="homecontainer">

  <!-- Wrapper for slides -->
  <div class="carousel-inner ">
    <div class="item active carouselitem">
      <img src='@routes.Assets.at("images/slide2.jpeg")' alt="Jurelapp Slide 1" class="imageslide1">
			<div class="carousel-caption slide1">
				<p class="align-slidetext">Jurelaps, tu comercio electrónico importador por internet</p>
				<div class="centered-text"><a href="@routes.LoginController.login()" class="btn btn-md btn-primary btn-block btnbar">Ingresa</a></div>
				
				<div><br><br><br></div>
				<!-- 
				<div class="busquedawrapper">
					<div class="firstelement">
						<input type="text" class="form-control" placeholder="Qué producto estás buscando?"/>
					</div>
					<div class="secondelement">
						<a class="btn btn-lg btn-primary btn-block btnbar">Buscar</a>
            		</div>
            	</div>-->
            </div>            
    </div>  
    </div>

	<div class="categorybar">
    	<div class="btn-group">
    	<!-- 
    		@for((item, index) <- categoryList.zipWithIndex){
  				<button type="button" class="btn btn-primary btnbar">@item.getName()</button>
  			}
  			-->
  			@for(c <- categoryList) {
     	@defining(c.getId().toString()) {categoryId => 
  		<a href='@routes.LoginController.index(categoryId)' class="btn btn-primary btnbar">@c.getName()}</a>	
	 }
  			
  			
  			</div>
    </div>   
    
    <!-- the products on the initial website -->
    
   <div class="container2">
    <div class="row imagetiles">
       
        @for(p <- productList) {
     	@defining(p.getId().toString()) {productId => 
  		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a href='@routes.ProductController.getProduct(productId)'><div class="desc-image"><img border="0" src="@p.getUrl()"/> </div> <div class='blocktitle'><div class="title">@p.getName()}</div></div></a></div>	
	 }
        
    </div>
</div>
    
</div>
    
	

}