@(page: String, isLoggedIn: Boolean, userInfo: Customer)

@Main(page, isLoggedIn, userInfo) {
<br>
<br>
<br>
<br>
<div class="container">
@if(isLoggedIn) {
     <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
       <h2>Welcome to the CDS Store</h2>
       <p>The purpose of this project is to show how can we apply the Actor-Message Passing through a system that basically accepts HTTP Requests.</p>
       <a href="@routes.LoginController.login()">Log in to start the project</a>
       </div>
     } else {     
   	<div class="row">
		<h3><a href="@routes.LoginController.login()">Session Timed out. Return to Log in</a></h3>
	</div>
   }
}
</div>