@(page: String, isLoggedIn: Boolean, userInfo: User, productInfo: Product, count: Integer, stock: Integer)

@Main(page, isLoggedIn, userInfo) {
<br>
<br>
<br>
<br>
<br>
<div class="container-content">  
          	 @defining(productInfo.getIdcategory().toString()) {categoryId => 
  		<a href='@routes.CategoryController.getProductsByCategory(categoryId)' class="btn btn-info" role="button" aria-pressed="true">Ver más productos de esta categoría}</a>
	<br>
	<br>
    <p>(Este producto ha sido visitado: @count veces)</p>
     <div>


     	<div class="desc-image product-desc-img"><img border="0" src="@productInfo.getUrl()"/></div>
     	
     	<p>@productInfo.getName()</p>
     	<p>Precio (soles):  @productInfo.getPrice()</p>
     	@if(stock>0){
     	<p class="text-danger">Quedan: @stock producto(s) disponible(s)<p>
     	@defining(productInfo.getId().toString()) {productId => 
     	<a href='@routes.ShoppingCartController.addProduct(productId)' class="btn btn-danger">Agregar a mi carrito}</a>
     	
     	} else{
     	<p class="text-danger">No hay stock disponible de este producto por el momento. ¿Deseas realizar un pedido? <a href="#">Ingresa aquí</a><p>
     	}	
     	<p align="justify"> @productInfo.getDescription()</p>
     </div>
}
</div>