@(page: String, isLoggedIn: Boolean, userInfo: Customer, productInfo: Product, count: Integer)

@Main(page, isLoggedIn, userInfo) {
<br>
<br>
<br>
<br>
<br>
<div class="container">
@if(isLoggedIn) {   
     <div class="row">
     	<h3><p class="text-danger">Information about the product</h3><br> @defining(productInfo.getIdcategory().toString()) {categoryId => 
  		<a href='@routes.CategoryController.getProductsByCategory(categoryId)' class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Return to the category}</a>
     </div>
    
    <h3>(This product has been seen: @count times)</h3>
     <div>
     <h3>
     	<p class="text-success">@productInfo.getName()</p>
     	<p class="text-warning">Price (Euro):  @productInfo.getPrice()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" type="button" class="btn btn-danger">Add to shopping cart!</a> 	</p> 
     		
     	<p class="bg-info"> @productInfo.getDescription()</p>
     </h3>
     </div>
     } else {
   	<div class="row">
		<a href="@routes.LoginController.login()">Session Timed out. Return to Log in</a>
	</div>
   }
}
</div>