@(page: String, isLoggedIn: Boolean, userInfo: User, shopItems: List[ShoppingCartItem]))

@import bootstrap3._

@Main(page, isLoggedIn, userInfo) {
<br>
<br>
<br>
<br>
<br>
<div class="container">
	@if(isLoggedIn) {
      
     These are your products in your Shopping cart:
     <div class="list-group">
     @if(shopItems.isEmpty) {
     <br>
     		There are no products in your shopping cart yet.
     } else{
     	<h5>
     	<form>
     	<ul>
     		@for((item, index) <- shopItems.zipWithIndex){
     		@defining(item.getIdproduct()) {idproduct =>
     			
              	<div class="form-group">
              	<li class="list-group-item list-group-item-action">
              	<a href='@routes.ProductController.getProduct(idproduct.toString())'>
              	
              	@item.getProductName(idproduct).toString()</a>
              	
              		<div class="col-xs-12">
              		<br>
              			Quantity:<input id="" name="" class="form-control form-shop" value="@item.getQuantity.toString()" placeholder="" type="text">
            		</div>
            		<br>
            		&nbsp;&nbsp;&nbsp;<a href='@routes.ShoppingCartController.deleteProduct(idproduct.toString())'><img src="@routes.Assets.at("images/delete.png")" width="28" height="28" /></a>	
            		}
            		            		
            	</div>
     			}
     			</li>
     		</ul>
     		
     	</h5>
     	</form>
     	}
     </div>
   } else {
   	<div class="row">
   		Your session has timed out. <a href="@routes.LoginController.login()" class="btn btn-primary" role="button">Click here</a> to return to log in.
	</div>
   }
}
</div>